body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: large;
    background-color: rgb(41, 220, 14);
    background-image: url("https://images.unsplash.com/photo-1769541607705-3b3c5095679b?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxN3x8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
}

.container{
    background-color: rgba(107, 11, 162, 0.9);
    padding: 25px;
    width: 360px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 8px;
    color: #fff;
}

h1{
    display: block;
    font-size: 30px;
    text-align:center;
    margin-bottom:12px;
}

label{
    display: block;
    margin-top: 10px;
}

input[type="date"], input[type="number"], input[type="text"]{
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: none;
    box-sizing: border-box;
}

button {
    margin-top: 12px; 
    width: 100%;
    padding: 10px;
    background: #603b02;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background: #0056b3;
}

#akanResult {
    margin-top: 12px;
    text-align: center;
